<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Phenix.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Phenix.Windows.Properties.Settings>
            <setting name="BusinessGroupControl" serializeAs="String">
                <value>编辑栏</value>
            </setting>
            <setting name="CriteriaGroupControl" serializeAs="String">
                <value>检索栏</value>
            </setting>
            <setting name="PromptCodeEdit" serializeAs="String">
                <value>编辑提示码</value>
            </setting>
            <setting name="Update" serializeAs="String">
                <value>保存</value>
            </setting>
            <setting name="Delete" serializeAs="String">
                <value>删除</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>取消</value>
            </setting>
            <setting name="Caption" serializeAs="String">
                <value>标签</value>
            </setting>
            <setting name="Setup" serializeAs="String">
                <value>设置</value>
            </setting>
            <setting name="Fetch" serializeAs="String">
                <value>查询</value>
            </setting>
            <setting name="New" serializeAs="String">
                <value>新增</value>
            </setting>
            <setting name="Ok" serializeAs="String">
                <value>确认</value>
            </setting>
            <setting name="FormSetupDialog" serializeAs="String">
                <value>窗体设置</value>
            </setting>
            <setting name="InputSheetName" serializeAs="String">
                <value>请输入Execl的Sheet名称</value>
            </setting>
            <setting name="SheetName" serializeAs="String">
                <value>Sheet名称</value>
            </setting>
            <setting name="SaveSheetConfig" serializeAs="String">
                <value>下次默认使用本名称</value>
            </setting>
            <setting name="TemplateName" serializeAs="String">
                <value>模板名称</value>
            </setting>
            <setting name="TemplateSetDialog" serializeAs="String">
                <value>模板设置</value>
            </setting>
            <setting name="CriteriaExpressionNew" serializeAs="String">
                <value>新增查询条件</value>
            </setting>
            <setting name="CriteriaExpressionPropertySelect" serializeAs="String">
                <value>选择查询属性</value>
            </setting>
            <setting name="CriteriaExpressionPropertySetup" serializeAs="String">
                <value>设置查询属性</value>
            </setting>
            <setting name="CriteriaExpressionGroupAdd" serializeAs="String">
                <value>添加查询分组</value>
            </setting>
        </Phenix.Windows.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
